:root {
    --background: snow;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

.h-40 {
    /*height: 40% !important;*/
}

.h-60 {
    /*height: 60% !important;*/
}

/*#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.filter-ctrl {
    position: absolute;
    top: 2.5%;
    left: 2%;
    z-index: 1;
    width: 30%;
    min-width: 200px;
    max-width: 500px;
    background-color: var(--background);
    border-radius: 5px;
}*/

.min-80 {
    min-width: 80px;
}

.filter-col {
    display: flex;
    flex-flow: column;
    max-width: 500px;
}

input, .card, .card-body, .filter-col, .list-group-item {
    background-color: var(--background) !important;
}

.results {
    width: 100%;
    /*max-height: 60vh;*/
    /*overflow-y:auto;*/
}

.categories {
    max-width: inherit;
}
